body{
    background: url(../img/Inicio.jpg);
    font-family: 'Montserrat', sans-serif;
    background-size:cover;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
}

header{
    color: aliceblue;
    padding: 0;
    margin: 1rem;
}

header nav ul li{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.neon{
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    margin: 0.5rem 2rem;
    border-radius: 25px;
    color: #fff;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.3s;
    text-align: center;
}

.neon:hover{
    background-color:rgb(225, 11, 54);
    box-shadow: 0 0 10px rgb(225, 11, 54), 0 0 40px rgb(225, 11, 54), 0 0 75px rgb(225, 11, 54);
}

.contenedor{
    width: 1390px;
    height:600px ;
    max-width: 100%;
    margin: 2rem;
    position: relative;
}

.carta{
    letter-spacing: 2px;
    color: white;
    height: 210px;
    width: 185px;
    margin: 10px;
    border-radius: 25px;
    padding: 10px;
    transition: 0.2;
    right: 0px;
}

 section div{
    transition: 0.3s;
    cursor: pointer;
}

section div:hover{
    opacity: 0.4;
    box-shadow: 0.5rem -0.5rem rgba(0,0,0,70%);
} 

.par1{
    background: url(../img/Autor.jpg);
    background-size: cover;
    position: absolute;
    right: 225px;

}

.par2{
    background: url(../img/proposito.jpg);
    background-size: cover;
    position: absolute;
    top: 245px;
    right: 225px;
}
.par3{
    background: url(../img/fonta.jpg);
    background-size: cover;
    position: absolute;
}

.par4{
    background: url(../img/fonna.jpg);
    background-size: cover;
    position: absolute;
    top: 245px;
}

#titulo{
    position: absolute;
    color: #fff;
    letter-spacing: 3px;
    left: 75px;
    font-size: 40px;
    margin: 1rem;
}


footer{
    color: #fff;
    width: 100%;
    background-color: rgb(50, 5, 14);
    opacity: 0.5;
    letter-spacing: 3px;
    margin: 0;
    padding: 1rem 2rem;
    text-align: center;
}

@media screen and (max-width: 1280px){
    #titulo{
        font-size: 50px;
        text-align: center;
    }
    
    header nav ul li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .contenedor{
        height: 1550px;
    }
    .par1{
        top: 600px;
        left: 40px;
        height: 400px;
        width: 400px;
    }
    .par2{
        top: 1100px;
        right: 500px;
        height: 400px;
        width: 400px;
    }
    .par3{
        top: 600px;
        left: 490px;
        height: 400px;
        width: 400px;
    }
    .par4{
        top: 1100px;
        right: 50px;
        height: 400px;
        width: 400px;
    }
}

@media screen and (max-width: 1280px){
    #titulo{
        font-size: 50px;
        text-align: center;
    }
    
    header nav ul li{
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    .contenedor{
        height: 1550px;
    }
    .par1{
        top: 600px;
        left: 40px;
        height: 400px;
        width: 400px;
    }
    .par2{
        top: 1100px;
        right: 540px;
        height: 400px;
        width: 400px;
    }
    .par3{
        top: 600px;
        left: 490px;
        height: 400px;
        width: 400px;
    }
    .par4{
        top: 1100px;
        right: 90px;
        height: 400px;
        width: 400px;
    }
}